body {
    font-family: 'Roboto', sans-serif;
}

.img-project {
    transition: transform 0.7s;
}

.img-project:hover {
    cursor: pointer;
    opacity: 80%;
    transform: scale(1.05, 1.05);

}

.skill {
    margin-bottom: 1.5rem;
}

.link-container {
    margin: 0.5rem 0;
}