body {
    font-family: 'Roboto', sans-serif;
}

#navbar {
    background-color: #000;
}

.nav-link {
    color: #fff
}

.nav-link:hover {
    color:#A37E00
}

#landing {
    height: 75vh;
    background-color: #000A57;
    color: #fff;
    padding: 0 10vw;
}

.img-project {
    transition: transform 0.7s;
}

.img-project:hover {
    cursor: pointer;
    opacity: 80%;
    transform: scale(1.05, 1.05);

}

#skills {
    background-color: #000A57;
}

.skill {
    margin-bottom: 1.5rem;
    height: 128px;
    width: 128px;
}

.link-container {
    margin: 0.5rem 0;
}