body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
}

:root {
    --hover-color: #A37E00;
}

#navbar {
    background-color: #000;
}

.nav-link {
    color: #FFF
}

.nav-link:hover {
    color: var(--hover-color)
}

#landing {
    height: 100vh;
    background-color: #000;
    color: #FFF;
    padding: 0 10vw;
}

#landing:hover {
    cursor: pointer;
}

.headerText, .landingText {
    opacity: 0;
    transition-property: opacity;
}

#startOfHeader {
    transition-duration: 2.5s;
}

#restOfHeader, .landingText {
    transition-duration: 4s;
}

#startOfHeader.revealText, #restOfHeader.revealText, .landingText.revealText {
    opacity: 1;
}


.img-project {
    transition: transform 0.7s;
}

.img-project:hover {
    cursor: pointer;
    opacity: 80%;
    transform: scale(1.05, 1.05);

}

#skills {
    background-color: #000;
}

.skill {
    margin-bottom: 1.5rem;
    height: 128px;
    width: 128px;
}

.description-container {
    margin: 0.5rem 0;
}

#projects {
    background-color: #000;
}

.cta-button {
    color: #FFF;
}

.cta-button:hover{
    color: #000;
    background-color: var(--hover-color);
    border-color: var(--hover-color)
}

